[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mozjpeg-lossless-optimization = "*"
beautifulsoup4 = "*"
python-dateutil = "*"
mysql-connector = "*"
xxhash = "*"

[dev-packages]

[requires]
python_version = "3.11"
